@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../font/GT-Eesti-Pro-Display/gteestiprodisplay_thin.otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../font/GT-Eesti-Pro-Display/gteestiprodisplay_light.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../font/GT-Eesti-Pro-Display/gteestiprodisplay_regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../font/GT-Eesti-Pro-Display/gteestiprodisplay_medium.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../font/GT-Eesti-Pro-Display/gteestiprodisplay_bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../font/GT-Eesti-Pro-Display/gteestiprodisplay_ultrabold.otf');
    font-weight: 900;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'GT Eesti Pro Display';
}
html{
    font-size: 16px;
}
body {
    background: var(--bg-color);
    color: var(--font-color);
}
.container {
    max-width: 1920px;
    width: calc(100% - 370px - 250px);
    margin: 20px 250px 20px 370px;
    padding: 30px 0;
    position: relative;
}
p, label{
    font-weight: 300;
}

