.course-card__icon {
    position: absolute;
    top: 21px;
}

.theme-toggler {
    border: 1px solid var(--accent-color2);
    border-radius: 50%;
    padding: 6px;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 3%;
    right: 5%;
    background: #FFFFFF;
    cursor: pointer;
    z-index: 1000;
    object-fit: contain;
}

.tags {
    list-style: none;
    margin-left: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 30px;
}

.tags__item {
    margin-right: 9px;
    background-color: var(--accent-color);
    font-size: 13px;
    padding: 7px 9px;
    color: #333946;
}

.tags__item:last-of-type {
    background: #333946;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    margin-left: auto;
}

.course__description {
    margin-left: 70px;
    margin-bottom: 30px;
}

.course__description-title {
    margin-bottom: 10px;
    font-weight: 400;
}

.progress {
    margin-left: 70px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
}

.progress__scale-title {
    margin-bottom: 15px;
}

.progress-cubes__container {
    display: flex;
    gap: 8px;
}

.progress-cubes__cube {
    width: 31px;
    height: 31px;
    background: var(--accent-color2);
    border-radius: 2px;
}

.progress-cubes__cube--filled {
    background: var(--accent-color);
}

.progress-cubes__cube:last-of-type {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    color: var(--font-color);
    font-size: 18px;
    text-align: center;
}

.progress-info {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    margin-left: auto;
    flex-wrap: wrap;
}

.progress-info__icon {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
}

.progress-info__item:nth-of-type(1),
.progress-info__item:nth-of-type(2) {
    margin-right: 124px;
}

.progress-info__item {
    min-width: 150px;
    padding-left: 60px;
    position: relative;
}

.progress-info__label {
    display: block;
    margin-bottom: 4px;
}

.progress-info__value {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 1360px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 40px;
    }

    .course-card__icon {
        top: 10px;
        left: 0;
    }

    .tags {
        gap: 5px;
        margin-top: 10px;
    }

    .course__description-title {
        font-size: 16px;
    }

    .course__description-text {
        font-size: 14px;
    }

    .tags,
    .course__description,
    .progress {
        margin-left: 40px;
    }

    .progress {
        gap: 10px;
        font-size: 14px;
    }

    .progress-info {
        align-items: center;
    }

    .progress-cubes__cube {
        width: 25px;
        height: 25px;
    }

    .progress-info__item {
        padding-left: 40px;
    }

    .progress-info__item:nth-of-type(1),
    .progress-info__item:nth-of-type(2) {
        margin-right: 0;
    }

    .progress-info__icon {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 360px) {
    html {
        font-size: 13px;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 40px;
    }

    .course-card__icon {
        display: none;
    }

    .tags {
        gap: 5px;
        margin-top: 10px;
    }

    .tags__item:last-of-type {
        display: none;
    }

    .tags,
    .course__description,
    .progress {
        margin-left: 40px;
    }

    .progress {
        flex-direction: column;
        gap: 10px;
    }

    .progress-info__item {
        padding-left: 40px;
    }

    .progress-info__item:nth-of-type(1),
    .progress-info__item:nth-of-type(2) {
        margin-right: 0;
    }

    .progress-info__icon {
        width: 30px;
        height: 30px;
    }
}